:host {
  --_wl-editor_gap: var(--wl-gap, 0.5rem);

  display: flex;
  flex-direction: column;
  gap: var(--_wl-editor_gap);
  padding: var(--_wl-editor_gap);
  width: 100%;
  height: 100%;
}

form{
  display: flex;
  flex-direction: column;
  gap: var(--_wl-editor_gap);
  padding: var(--_wl-editor_gap);
}

.error {
  margin: auto;
  color: red;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

.stretch-fill {
  flex: 10 0 0;
}

md-divider {
  margin-bottom: var(--_wl-editor_gap);
}

.column-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.column-field {
  width: 100%;
}

.material-like-date-field {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin-bottom: 1rem;
  width: 100%;
  border-bottom: solid 1px black;
  border-radius: 4px;
  background-color: #e6e0e9;
}

.material-like-date-field label {
  font-size: 0.75rem;
  color: #5f6368;
  padding: 0.5rem;
}

.material-like-date-field input[type="date"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  box-shadow: inset 0 0 0 1px #dadce0;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s;
  background-color: #e6e0e9;
}

.material-like-date-field input[type="date"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #1a73e8;
  background-color: #fff;
}
